@charset "ISO-8859-1";

.button {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  /* color: #069; */
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

.form-inline  {
	display: inline-block;
	}

thead {
	background: lightblue;
	padding: 2px 5px;
}
th {
	border: 2px solid grey;
}
td { 
	border: 1px solid grey;
	padding: 0 5px;
}

td:last-child {
	background-color: rgb(235, 235, 235);	
}